@import "src/styles/vars";

.titleWrapper {
  border-bottom: 1px solid $BORDER;
  padding-bottom: 17px;
}

.title {
  margin-right: 7px !important;
}

.selectsWrapper > div:first-child {
  margin-left: 0;
}

.selectDay {
  font-family: Arial, sans-serif;
  font-weight: 500;
  width: 130px;
}

.selectYear {
  font-family: Arial, sans-serif;
  font-weight: 500;
  width: 82px;
}
