@import "src/styles/vars";

.titleWrapper {
  border-bottom: 1px solid $BORDER;
  padding-bottom: 17px;
}

.selectDay {
  font-family: Arial, sans-serif;
  font-weight: 500;
  width: 130px;
}

.selectYear {
  font-family: Arial, sans-serif;
  font-weight: 500;
  width: 82px;
}
