@import 'vars';

.ant-layout {
  height: 100vh;
  background: $PRIMARY_BACKGROUND;
}

.ant-layout-header {
  height: 118px;
  display: flex;
  justify-content: center;
  background: $PRIMARY_BACKGROUND;
}
