@import 'vars';

.ant-typography {
  &.header-menu-item {
    font-weight: 700;
    color: $HEADER_MENU;
    margin-bottom: 0;
    cursor: pointer;

    &:hover {
      color: $HEADER_MENU_HOVER;
      transition: color .125s ease;
    }
  }

  &.wallet {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: $SECONDARY;
    line-height: 18px;
  }
}

a.ant-typography {
    font-family: 'KievitWebProBold', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0 17px;
    text-shadow: 1px 1px 0 $LOTTERY_MENU_TEXT_SHADOW;
    line-height: 48px;
    color: $LOTTERY_MENU_TEXT;

    &:hover {
      color: $LOTTERY_MENU_TEXT;
    }
}
