//colors
$PRIMARY: #012406;
$PRIMARY_BACKGROUND: white;
$SECONDARY: #9aa89c;
$SECONDARY_BACKGROUND: #f2f4f2;
$HIGHLIGHTED_TEXT_PRIMARY: #ca7f26;
$BORDER: #d9deda;

$HEADER_MENU: #69a507;
$HEADER_MENU_HOVER: #3f6304;
$NAV_MENU_BACKGROUND_START: #a4cc25;
$NAV_MENU_BACKGROUND_END: #64a407;
$LOTTERY_MENU_TEXT_SHADOW: #999;
$LOTTERY_MENU_TEXT: white;
$LOTTERY_MENU_BACKGROUND_HOVER: #c3dc41;
